.main-container {
	/* font-family: "Nunito Sans", sans-serif; */

	display: flex;

	flex-direction: column;

	justify-content: center;

	align-items: center;

	transition: all 0.3s;
}

.schedules-container {
	display: flex;

	width: 100%;

	max-width: 1200px;

	flex-direction: column;

	justify-content: space-around;

	align-items: center;
}

.schedule {
	display: flex;
	width: 90%;
	min-width: 900px;
	padding: 30px 70px;
	border-radius: 70px;
	margin: 10px auto;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid #333; */
	background-color: #333;
	color: white;
}

.choices-container {
	display: flex;
}

.period {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	opacity: 0.4;
	width: 90px;
	height: 90px;
	margin: 0 5px;
	border: 2px dashed goldenrod;
}

#add_schedule {
	font-size: 70px;
	display: flex;
	width: 35%;
	min-width: 200px;
	/* padding: 10px 30px; */
	border-radius: 70px;
	margin: 10px auto;
	justify-content: center;
	align-items: center;
	/* border: 1px solid darkgreen; */
	background-color: darkgreen;
	color: white;
	cursor: pointer;
	transition: all 0.2s;
}

#add_schedule:hover {
	background-color: #27ae60;
}

#add_schedule span {
	font-size: 20px;
	padding-left: 20px;
}
