.bub {
	border-radius: 30px;
	border: 4px solid goldenrod;
	display: inline-block;
	background-color: #333;
	color: white;
	padding: 10px 14px;
	/* min-width: 115px; */
	text-align: center;
	/* width: auto; */

	font-size: 14px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent

	
}

.grade-level-container {
	margin: 30px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.head-container {

	/* position: fixed; */
	/* max-width: 33%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;

	margin: 15px 15px;
	/* width: 100%; */
	background-color: #efefef;
	padding: 30px;
	border-radius: 10px;

	/* max-width: 554px; */
}

.nav-container {
	position: fixed;
	max-width: 33%;
	width: 100%;
	background-color: white;
}

@media screen and (max-width: 700px) {
	.nav-container {
		position: relative;
		max-width: 100%;
		width: 100%;
		background-color: white;
	}
}

.active {
	background-color: #2ed573;
}

@media screen and (max-width: 740px) {

	.head-container h1 {
		font-size: 26px;
	}
}