.courses-container {
	width: 90%;

	margin: 0 auto;
	
	transition: all 0s linear;
}

.course-grid {
	display: grid;

	margin: 30px auto;

	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

	grid-gap: 20px;
}

.course {
	width: 60px;

	height: 60px;

	background-color: #333;

	color: white;

	display: flex;

	justify-content: center;

	align-items: center;

	text-align: center;

	padding: 10px 30px;
}

.course-chip {
	position: relative;
	display: flex;
	padding-right: 25px;
	color: white;
	height: 50px;
	font-size: 9px;
	border-radius: 25px;
	background-color: #333;
	justify-content: flex-end;
	align-items: center;
}

.title {
	margin: 30px auto;
	text-align: center;
}

.filter-container {
	width: 100%;
	margin: 0 auto;
}

input {
	width: 40%;

	padding: 10px 30px;

	font-size: 20px;

	border-radius: 25px;

	border: 4px solid goldenrod;
}

input:focus {
	outline: none;
	border: 4px solid darkcyan;
}

.info-sphere {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.course-info {
	display: flex;
	justify-content: flex-end;
	width: 60%;
	text-align: end;
}

.red {
	background-color: #ff4757;
}

.purple {
	background-color: #5352ed;
}

.green {
	background-color: #2ed573;
}

.coral {
	background-color: #ff7f50;
}

.orange {
	background-color: #ffa502;
}

.blue {
	background-color: #1e90ff;
}

.lightblue {
	background-color: #70a1ff;
}



.filter-general-options-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* display: grid; */
	/* grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); */
}

.filter-periods-pills-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));

}

.filter-requirements-pills-container {
	
	position: relative;
	margin: 15px auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #eee;
	border-radius: 10px;
	padding: 20px
}

.filter-requirements-pills-container p {
	line-height: 1;
	max-width: 85%;
}



.requirements-toggle-container {
	padding-top: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

/* .slider:focus { outline: 0; } */

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

/* .slider:before:focus { outline: 0;} */

input:checked + .slider {
	/* background-color: #2196F3; */
	background-color: goldenrod;
}

/* input:checked + .slider:focus { outline: 0;} */



input:checked + .slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
	outline: 0;
}
input:checked:focus + .slider:before {
	/* -webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px); */
	outline: 0;
	
}

.slider.round {
	border-radius: 34px;
	outline: 0;
	-webkit-tap-highlight-color: transparent
}

.slider.round:before {
	border-radius: 50%;
	outline: 0;
}

.toggle-widget {
	display: flex;
	justify-content: space-between;
	width: 90px;
	padding: 10px;
	border-radius: 25px;
}

.reset-btn {
	cursor: pointer;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 16px;
	font-size: 24px;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	color: white;
	background-color: #ff4757;
	border: 2px solid #ff4757;
	box-shadow: 1px 2px 0px 1px #ccc;
	-webkit-tap-highlight-color: transparent
}

.reset-btn:active {
	transform: translateY(2px);
	box-shadow: 1px 1px 0px 0px #ccc;
	transition: transform 0.1s linear;
	-webkit-tap-highlight-color: transparent
}

.reset-btn:focus {
	outline: none;
}

.first-filter-row {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	background: #eee;
	padding: 20px;
	border-radius: 10px;
}

.first-filter-inner-row {
	margin-top: 20px;
	position: relative;
	width: 90%;
	display: flex;
	z-index: 1;
	justify-content: space-evenly;
	background: transparent;
	/* padding: 20px; */
	height: 90px;
	border-radius: 10px;
}

.hide-show-btn {
	position: absolute;
	top: 8px;
	border: none;
	font-size: 30px;
	border-radius: 10px;;
	right: 8px;
	line-height: 20px;
	padding: 4px 12px;
	color: white;
	background-color: #70a1ff;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent
}

.hide-show-btn:hover {
	background-color: #1e90ff;
}

.hide {

	position: relative;
	opacity: 0;
	margin: 0;
	
	max-height: 0px;
	transition: max-height 0.3s ease, opacity 0s ease, margin 0.4s ease;

}

.show {
	
	position: relative;
	opacity: 1;
	transition: flex 0.3s ease, max-height 0.3s ease, opacity 0.2s ease;
	max-height: 80px;
}

.first-filter-inner-row.show {
	max-height: 50px;
}

@media screen and (max-width: 740px) {

	.show {
		max-height: 140px;
	}

	.first-filter-inner-row.show {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 40px auto;
		max-height: 70px;
	}

	.first-filter-inner-row.show input {
		width: 90%;
	}

	.filter-general-options-container {
		margin: 10px auto;
	}
	.first-filter-inner-row.hide {
		margin: 0px;
	}
}


@media screen and (max-width: 440px) {

	.show {
		max-height: 200px;
	}
}

.periods-inner, .requirements-inner {
	width: 90%;
}

.periods-inner.hide .requirements-toggle-container, 
.requirements-inner.hide .requirements-toggle-container {
	pointer-events: none;
}

.course-grid-wrapper {
	padding: 30px;
	min-height: 150px;
	background-color: #efefef;
	border-radius: 10px;
	margin-bottom: 60px;
}

.fade-enter {
	opacity: 0.01;
	/* -webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	animation: fadein 1s; */
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0.01;
	transition: opacity 500ms ease-in;
}

.fadeIn {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	animation: fadein 2s;
}

@keyframes fadein {
	from { opacity: 0;}
	to { opacity: 2;}
}
@-moz-keyframes fadein {
	from { opacity: 0;}
	to { opacity: 2;}
}
@-webkit-keyframes fadein {
	from { opacity: 0;}
	to { opacity: 2;}
}